.cabecalho {
    text-align: center;
    padding: 20px;
    background-color: #282c34;
    color: white;
  }
  
  .cabecalho h1 {
    margin: 0;
    font-size: 2.5rem;
  }
  
  .cabecalho h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  